
/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

h1, h2, h3, h4, h5, h6, p, a, li, div, span {
font-family: 'Outfit', sans-serif;
line-height: 1.1;
letter-spacing: 0;
}

h1 {
    font-weight: 600; /* 60 转换为 600，这是一个合理的推测 */
    font-size: 60px; /* 字体大小为 60px */
  }
  
h2 {
font-weight: 400; 
font-size: 30px; 
}

h3 {
    font-weight: 400; 
    font-size: 28px; 
}

button {
    font-family: 'Outfit', sans-serif;
    line-height: 1.1;
    letter-spacing: 0;
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 30px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s, border 0.3s; /* 定义过渡效果 */
  }
  
  /* 填充背景色的按钮 */
  button.solidButton {
    background-color: #86C248; /* 绿色背景 */
    color: black; /* 白色文字 */
  }
  
  button.solidButton:hover {
    background-color: #218838; /* 更深的绿色用于悬停效果 */
  }
  
  /* 只有边框的按钮 */
  button.hollowButton {
    background-color: transparent; /* 透明背景 */
    color: #000; /* 绿色文字 */
    border: 4px solid #86C248; /* 绿色边框 */
  }
  
  button.hollowButton:hover {
    background-color: #28a745; /* 绿色背景 */
    color: white; /* 白色文字 */
  }
  